.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    color: #fff;
    
    .logo img {
        display: block;
        height: 104px;
        width: auto;
    }
}

.header__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__phone {
    display: block;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    .transition();
    
    &:hover,
    &:active {
        color: #F2D97A;;
        .transition();
    }
}

.header__call {
    display: block;
    text-align: right;
    font-size: 14px;
    line-height: 16px;
    text-decoration-line: underline;
    color: #F2D97A;
    
    &:hover,
    &:active {
        text-decoration: none;
    }
}
